.Convert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 50%;
}

.Container {
    position: absolute;
    display: flex;
    top: 30%;
    width: 100%;
    justify-content: center;

}

.InputContainer {
    position: relative;
    display: inline-block;
    margin: 0;
    border-bottom: 4px solid black;
    width: 180px;
}

.Input {
    text-indent: 10px;
    width: 180px;
    padding: 0;
    border: none;
    outline: none;
    font-size: 2.5rem;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0%);
}

.Kind{
    position: absolute;
    width: 100%;
    margin-top:10px;
    text-align: right;
}

.Flag{
    position: absolute;
    width: 30px;
    height: 20px;
    right: 0;
    bottom: 5px;
}


.ResultList{
    position: absolute;
    list-style: none;
    text-align: right;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
    max-height: 200px;
    overflow-y: scroll;
    background-color: white;
}

.ResultList li span{
    font-size: 1.2rem;
    border-radius: 3px;
    padding: 0 3px 0 3px;
    font-weight:300;
}


.selectedItem span{
    background-color: black;
    color: white;
}

.Arrow{
    font-size: 40px;
    font-weight: 600;
    margin: 0 80px 0 80px;
}

.Down{
    position: relative;
    right: 10px;
}