.Main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.contents {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.startSizeSearchPart {
    width: 25rem;
    display: inline-block;
}

#approxEqualSymbol {
    font-size: 4rem;
    font-weight: bold;
    padding: 3rem;
    display: inline-block;
}

.convertSizeSelectPart {
    width: 25rem;
    display: inline-block;
}