.ConvertPage{
    position: absolute;
    height: 150px;
    width: 80%;
    left: 50%;
    top: 30%;
    transform:translate(-50%,-50%);
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgb(90,100,130);
    box-shadow: 2px 2px 5px rgba(45,50,60,10);
}