.Convert {
    width: 100%;
}

.InputContainer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.InputBox {
    display: inline-block;
    width: 25%;
}

.InputBox input {
    padding: 0;
    width: 100%;
    height: 50px;
    background: none;
    border: 1px solid rgb(200, 200, 200);
}

.letter {
    display: block;
    font-weight: bold;
}