#centerLayout {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#queryList {
    list-style: none;
}

input {
    background-image: linear-gradient(#000, #000);
    background-position: bottom 5px center;
    background-size: calc(100% - 10px) 2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

select {
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


@media  all and (max-width: 768px) {
    Input{
        width: 60px;
        padding: 10px;
        font-size: 1.5rem;
        border: 1px solid transparent;
    }

    select{
        font-size: 1rem;
        border-radius: 16px;
        width: 150px;
        padding: 0.5rem;
        border: 2px solid #3e3e3e;
    }

    .subText {
        font-size: 2rem;
        margin: auto 16px;
    }
}

@media  all and (min-width: 768px) {
    Input{
        width: 250px;
        padding: 10px;
        font-size: 3rem;
        border: 1px solid transparent;
    }

    select{
        font-size: 1.5rem;
        border-radius: 16px;
        width: 250px;
        padding: .8em .5em;
        border: 2px solid #3e3e3e;
    }

    .subText {
        font-size: 3rem;
        margin: auto 32px;
    }
}