#queryResultListItem {
    position: relative;
    padding: 5px;
}

#queryResultListItem h1 {
    display: inline-block;
    font-size: 1rem;
    text-indent: 5px;
}

#queryResultListItem h2 {
    position: absolute;
    right: 5px;
    display: inline-block;
    font-size: 1rem;
}